@import "nyt-cheltenham.css";
@import "bootstrap.css";

body {
    font-family: "nyt-cheltenham";
    font-size:16px;
    // font-size:14px;
}

table {
    // font-size:14px;
}


code {
    color:black;
    background:none;
    // font-weight:bold;
    // font-family:Monospace;
}

html {
    background-color:#fcfcfc;
}

body {
}

input, .toggle-switch-outer {
    width:4em;
    width:105px!important;
    height:28px!important;
    margin:0;
    padding:0;
    background:none;
    height:100%;
    padding-left:4px;
    border-style:solid;
    border-width:2px;
    display:inline-block;
}

.toggle-switch-outer {
    position:relative;
    vertical-align:middle;
}

.toggle-switch-inner {
    background:black;
    position:absolute;
    top:3px;
    left:3px;
    bottom:3px;
    width:50%;
    box-sizing:border-box;
    border:1px solid black;
}

input.color {
    text-align:right;
    padding-right:8px;
}

.minicolors-theme-default .minicolors-input {
    height:28px;
}

input:focus {
    background:white;
}

label {
    margin-right:6px;
    color:black;
    cursor:pointer;
}

#paper svg {
    display:block;
    margin:auto;
    position:absolute;
    bottom:0;
    max-height:95%;
}

path {
    /* stroke:black; */
}

#paper {
    position:relative;
}

#loading-message {
    // font-size:10px;
    text-align:center;
    width:60%;
    margin:0 auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
}

#seed-printed {
    display:none;
}

#quote-container {
    display:inline-block;
    text-align:right;
}

#quote {
    display:inline;
}

#source {
    display:inline;
    margin-top:1em;
}

#version {
    margin-top:3em;
    text-align:center;
    font-size:80%;
}

#persistant-link-container {
    // font-size:10px;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#btf {
    background-color:#DEF5FF;
    background-color:#fcfcfc;
    padding:5%;
    visibility:hidden;
    -webkit-animation: fadein 100ms; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 100ms; /* Firefox < 16 */
        -ms-animation: fadein 100ms; /* Internet Explorer */
         -o-animation: fadein 100ms; /* Opera < 12.1 */
            animation: fadein 100ms;
}

.phone-only {
    display:none;
}

@page {
    margin:1in;
    margin-bottom:.25in;
}

.table-responsive {
    border:none;
}

td.input {
    cursor:pointer;
}

tr.disabled,tr.disabled code {
    color:gray;
}

.table>thead>tr>th {
    border-bottom:2px solid black;
}

@media print {
    #seed-printed {
        display:block;
        font-size:8pt;
        position:absolute;
        bottom:0.125in;
        width:100%;
        text-align:center;
        /* -webkit-print-color-adjust:exact; */
        /* print-color-adjust:exact; */
        /* top:0; */
        /* left:0; */
        /* -webkit-filter:opacity(1); */
        /* filter:opacity(1); */
        /* padding:2px; */
        /* background-image:url('/css/1x1-white.png'); */
        /* background-repeat:repeat; */
    }

    #btf {
        display:none;
    }

    #paper {
        position:absolute;
        bottom:0.3in;
        height:6in!important;
        width:100%;
        /* width:1in; */
        /* left:50%; */
        /* margin-left:-0.5in; */
    }

}

#rerender-container {
    justify-content: flex-end;
    position:absolute;
    right:0;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
}

#rerender-container img {
    max-width:16px;
}

#rerender-old-seed, #rerender-new-seed {
    background:white;
    text-decoration:none;
    display:inline-block;
    margin:0;
    // padding:2px 10px;
    // font-family:Arial;
    text-align:center;
    cursor:pointer;
    color:black;
    border:1px solid black;
    margin:3px;
    // box-shadow:0px 0px 15px -4px gray;
}

#rerender-new-seed {
    // background:#005938;
    // color:#00C279;
    // background:#D1F8E5;
    // border-top-left-radius:4px;
    // border-bottom-left-radius:4px;
}

#rerender-old-seed {
    // background:#112233;
    // color:#55ACFF;
    // background:#CAEAF9;
    // border-top-right-radius:4px;
    // border-bottom-right-radius:4px;
    // border-left-width:0;
}


#rerender-old-seed:hover, #rerender-new-seed:hover {
    // background:lightgray;
    // box-shadow:0px 0px 15px -4px black;
}

#rerender-old-seed:hover, #rerender-new-seed:hover {
    text-decoration:none;
}

#rerender-old-seed:hover {
    // color:#0D8BD5;
}

#rerender-new-seed:hover {
    // color:green;
}

#rerender-old-seed:hover img, #rerender-new-seed:hover img {
}

.flexbox {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#rerender-container {
    align-items: center;
    justify-content: center;
    position:static;
    transform:none;
    -webkit-transform:none;
}

@media screen and (max-width: 520px) {
    .table.constant-inputs>tbody>tr>td, .table.constant-inputs>tbody>tr>th, .table.constant-inputs>tfoot>tr>td, .table.constant-inputs>tfoot>tr>th, .table.constant-inputs>thead>tr>td, .table.constant-inputs>thead>tr>th {
        /* border:none; */
        padding:12px 0px;
    }
    .table.constant-inputs>thead>tr>td, .table.constant-inputs>thead>tr>th {
        padding:8px 0px;
    }
    .table.constant-inputs th:nth-of-type(1) {
        display:none;
        /* background:blue; opacity:0.4; */
    }
    .table.constant-inputs td:nth-of-type(1) {
        display:none;
        /* background:blue; opacity:0.4; */
    }
    .table.constant-inputs th:nth-of-type(3) {
        display:none;
        /* background:blue; opacity:0.4; */
    }
    .table.constant-inputs td:nth-of-type(3) {
        display:none;
        /* background:blue; opacity:0.4; */
    }

    .minicolors-position-left .minicolors-panel {
        left:-50%!important;
    }

    .minicolors-position-bottom .minicolors-panel {
        top:-50%!important;
    }
}

@media screen and (max-width: 400px) {

    #btf {
        // padding-left:0;
        // padding-right:0;
    }

    h1 {
        // padding-left:5%;
        // padding-right:5%;
    }

    .table-responsive {
        // padding-left:5%;
        // padding-right:5%;
    }

    #rerender-old-seed, #rerender-new-seed {
        width:50%;
        border-radius:0;
        height:60px;
        line-height:58px;
        margin:3px;
        // box-shadow:0px 0px 15px -4px;
    }
}


#rerender-old-seed, #rerender-new-seed {
    line-height:58px;
    margin:3px;
    padding:inherit 2em;
    border-radius:2px;
}

#rerender-old-seed {
    // border-right-width:0;
}

#rerender-new-seed {
    line-height:58px;
    // border-left-width:0;
}
